@model MVCstore.Models.Register

@{
    ViewBag.Title = "Register";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    
    <fieldset>
       

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <body>
            <div>
                <form action="Submit" method="post">
                    <table>
                        <tr>
                            <th><legend>Register</legend></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><legend>Login</legend></th>
                        </tr>
                        <col width="100" />
                        <tr>
                            <td>First Name</td>
                            <td> @Html.TextBoxFor(x => x.firstName) </td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.firstName)</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Email</td>
                            <td> @Html.TextBoxFor(x => x.customerEmail)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.customerEmail)</span></td>

                        </tr>
                        <col width="100" />
                        <tr>
                            <td>Last Name</td>
                            <td> @Html.TextBoxFor(x => x.lastName) </td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.lastName)</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Password</td>
                            <td> @Html.PasswordFor(x => x.password)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.password)</span></td>
                        </tr>
                        <col width="100" />
                        <tr>
                            <td>Email Address</td>
                            <td>@Html.TextBoxFor(x => x.customerEmail)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.customerEmail)</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input id="Submit" type="Submit" value="Login" /></td>
                        </tr>
                        <col width="100" />
                        <tr>
                            <td>Confirm Email Address</td>
                            <td> @Html.TextBoxFor(x => x.customerEmailConfirmation) </td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.customerEmailConfirmation)</span></td>
                        </tr>
                        <col width="100" />
                        <tr></tr>
                        <col width="100" />
                        <tr>
                            <td>Password</td>
                            <td> @Html.PasswordFor(x => x.password) </td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.password)</span></td>
                        </tr>
                        <col width="100" />
                        <tr>
                            <td>Confirm Password</td>
                            <td> @Html.PasswordFor(x => x.passwordConfirm) </td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.passwordConfirm)</span></td>
                        </tr>
                        <col width="100" />
                        <tr></tr>
                        <col width="100" />
                        <tr>
                            <td>Phone number</td>
                            <td> @Html.TextBoxFor(x => x.customerPhone) </td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.customerPhone)</span></td>
                        </tr>
                        <col width="100" />
                        <tr>
                            <td></td>
                            <td>
                                <input id="Submit" type="submit" value="Register" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </body>
     </fieldset>
    
}
