
@model MVCstore.Models.Customers


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript">  
    function confirmPassword() {
        var password = document.getElementById("PasswordHash").value;
        var password_con = document.getElementById("confirm_password").value;
        if (password != password_con) {
            passwordException.innerHTML = "Password Not Matching!";
        }
        else
            passwordException.innerHTML = '';

    }
     function confirmEmail() {
         var email = document.getElementById("Email").value;
         var confemail = document.getElementById("EmailConfirmation").value;
         if (email != confemail) {
             emailConfirmationException.innerHTML = "Email Not Matching!";
         }
         else
             emailConfirmationException.innerHTML = '';
            
     }

</script>

<body>
  
    @using (Html.BeginForm("SubmitRegister", "Home", FormMethod.Post))
    {

        <fieldset>        

            <div>
                    <table>
                        <tr>
                            <th><legend>Register</legend></th>                
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>@Html.TextBoxFor(m => m.FirstName)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.FirstName)</span></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>@Html.TextBoxFor(m => m.LastName)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.LastName)</span></td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>@Html.TextBoxFor(m => m.Email)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.Email)</span></td>
                        </tr>
                        <tr>
                            <td>Confirm Email Address</td>
                            <td><input type="text" id="EmailConfirmation" onkeyup="confirmEmail()" /></td>
                            <td id="emailConfirmationException"><span style="color:red"></span></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>Password</td>
                            <td>@Html.PasswordFor(m => m.PasswordHash)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.PasswordHash)</span></td>
                        </tr>
                        <tr>
                            <td>Confirm Password</td>
                            <td><input type="password" id="confirm_password" onkeyup="validatePassword()" /></td>
                            <td  id="passwordException"></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>Phone number</td>
                            <td>@Html.TextBoxFor(m => m.PhoneNumber)</td>
                            <td><span style="color:red">@Html.ValidationMessageFor(x => x.PhoneNumber)</span></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" class="btn btn-primary" name="SubmitRegister" value="Register" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
            </div>
        </fieldset>
        <p><a class="btn btn-primary" href="@Url.Action("MockLogin", "Home")">Mock Login &raquo;</a></p>
    }
     </body>