@model MVCstore.ModelView.OrderViewModel
@using MVCstore.Models

@{
    Layout = "~/Views/Shared/Products_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showCart</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div>
        <h3>Your Shopping Cart, @Session["userID"]</h3><br />
    </div>
    <div align="center"> 
        <table id="ordersTable">
            <tr id="header">
                <td>Order ID</td>
                <td>Customer ID</td>
                <td>Model</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
            @foreach (Order ord in Model.orderList)
            {
                <tr>
                    <td>@ord.OrdID</td>
                    <td>@ord.CustID</td>
                    <td>@ord.Model</td>
                    <td>@ord.Quantity</td>
                    <td>@ord.Price</td>
                </tr>
            }
        </table>
        <br />
        <button id="sumTable_bt" onclick="checkOut()"> Check Out!</button>
    </div>

    <script language="javascript">
        $(document).ready(function() {
            //keep only one document.ready if possible and wrap all the js code in that
            hideButtonIfEmpty();
            hideTableIfEmpty();
        });

        // only shows table if has unordered products
        function hideTableIfEmpty() {
            var x = document.getElementById("ordersTable").rows.length;
            if (x == 1) {
                $("#ordersTable").hide();
            } else {
                $("#ordersTable").show();
            }
        }

        // only shows "cash out!" button if has unordered products
        function hideButtonIfEmpty() {
            var x = document.getElementById("ordersTable").rows.length;
            if (x == 1) {
                $("#sumTable_bt").hide();
            } else {
                $("#sumTable_bt").show();
            }
        }

        // begin check out proccess: confirm quantity and add to cart
        function checkOut() {
            var r = confirm("Confirm Check Out?");
            if (r == true) {
                var custID = @Session["userID"];
                sumHtmlTable();
                addShippedDate(custID); //was 1
            }
        }

        // sum all columns and print
        function sumHtmlTable() {
            var table = document.getElementById('ordersTable');
            var sum = 0;
            for (var r = 1, n = table.rows.length; r < n; r++) {
                var rowSum = table.rows[r].cells[3].innerHTML * table.rows[r].cells[4].innerHTML;
                sum += rowSum;
            }
            alert('Total sum is ' + sum + '\n' + 'Receipt will be send via an owl');
        }
        
        // add today's date to ORDERS table, hence mark them as confirmed
        function addShippedDate(cID) {
            var url = '@Url.Action("updateShipment", "Products")';
            var data = { custID: cID };
            $.post(url, data, refreshPage);
        }

        // once mark shipped, refresh page
        function refreshPage() {
            location.reload();
        }



    </script>

        
</body>
</html>
